<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BDO Crystals</title>
    <link rel="stylesheet" href="styles/styles.css" />
</head>
<body ng-app="crystalApp">
<div ng-controller="crystalCtrl as cc" class="container">
    <div class="row">
        <div class="col-md-12">
                <h2>Black Desert Crystal DB</h2>
                <p>A small database for crystals, most other databases lack filter functions. You are able to filter crystals by rarity, slot, and effects.</p>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-2">
            <label>Rarity</label>
        </div>
        <div class="col-md-2">
            <label>Socket Slot</label>
        </div>
        <div class="col-md-2">
            <label>Effect</label>
        </div>
    </div>
    <div class="row" style="margin-bottom: 15px;">
        <div class="col-md-2">
            <select id="rarity" class="select-size" ng-model="cc.search.Rarity" style="width:100%">
                <option value="">Any</option>
                <option value="White">White</option>
                <option value="Green">Green</option>
                <option value="Blue">Blue</option>
                <option value="Yellow">Yellow</option>
                <option value="Orange">Orange</option>
            </select>
        </div>
        <div class="col-md-2">
            <select id="slot" class="select-size" ng-model="cc.search.Slot" style="width:100%">
                <option value="">All</option>
                <option value="Weapon">Weapon</option>
                <option value="Secondary">Secondary Weapon</option>
                <option value="Helmet">Helmet</option>
                <option value="Armor">Armor</option>
                <option value="Gloves">Gloves</option>
                <option value="Shoes">Shoes</option>
            </select>
        </div>
        <div class="col-md-2">
            <input type="text" ng-model="cc.search.ItemEffect" style="width:100%">
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table-striped" style="width:100%;margin-bottom:100px;margin-top:25px;">
                <thead>
                <tr>
                    <th width="5%"></th>
                    <th width="40%">Name</th>
                    <th>Item Effect</th>
                    <th width="10%">Socket Slot</th>
                </tr>
                </thead>
                <tbody id="tbodyT">
                    <tr ng-repeat="crystal in cc.crystals | filter:cc.search">
                        <td><img class="crystal-icon" ng-src="{{crystal.Image}}" style="margin-right:10px"/></td>
                        <td ng-cloak><a class="item-name {{crystal.Rarity}}" ng-href="{{'http://bddatabase.net/us/item/'+crystal.ID}}">{{crystal.Name}}</a></td>
                        <td ng-cloak><p ng-bind-html="crystal.ItemEffect"></p></td>
                        <td ng-cloak>{{crystal.Slot}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-sanitize.min.js"></script>
<script src="scripts/crystals.js"></script>
<script src="scripts/app.js"></script>
</body>
</html>