/* mine */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
p {
    margin: 10.5px 0;
}
.crystal-icon {
    margin: 10px 10px 10px 5px;
}
.crystal-name {
    font-weight:bold;
    text-decoration:none !important;
}
.crystal-name:hover{
    text-decoration:underline !important;
}
.rarity-5 {
    color: #d36300;
}
.rarity-4 {
    color: #f6c232;
}
.rarity-2 {
    color: #5ff369;
}
.rarity-3 {
    color: #0391c4;
}
.rarity-1 {
    color: #fff;
}
.filter-select {
    width:100%;
    color: #000;
}
.crystal-table {
    width:100%;
    margin-bottom:100px;
    margin-top:25px;
}
.top-pad {
    margin-top: 10px;
}
.bottom-pad {
    margin-bottom: 15px;
}
.top-bottom-pad {
    padding:10px 0;
}
